#contlogin{
position: absolute;
left:300px;
top:110px;
 font-size: 12px;
 }
#contFondo{
position: absolute;
left:25px;
top:330px;
 font-size: 12px;
 }
#contlogo2{
position: absolute;
left:88px;
top:25px;
 font-size: 12px;
 }
#ContLogo1{
position: absolute;
left:36px;
top:25px;
 font-size: 12px;
 }
#ContBody{
position: absolute;
left:23px;
top:21px;
 font-size: 12px;
 }
 #passw{
position: absolute;
left:11px;
top:54px;
 font-size: 12px;
 }
 #Nombre{
position: absolute;
left:8px;
top:21px;
 font-size: 12px;
 }
 #Carnet{
position: absolute;
left:8px;
top:75px;
 font-size: 12px;
 }
 #cmdIngresar{
position: absolute;
left:40px;
top:130px;
 font-size: 12px;
 }
 #Texto0{
position: absolute;
left:65px;
top:20px;
 font-size: 12px;
 }
 #TextoCarnet{
 font-size: 12px;
 }
 #pswClave{
position: absolute;
left:65px;
top:48px;
 font-size: 12px;
 }
